<div class="container">
  	<div class="row">
		<div class="col-12 col-md-12">
		  <h3 class="text-center my-5">Breed</h3>
		  <% @cherries.each do |f| %>
		    <div class="row">
		    	<div class="col-5 col-md-4 mt-5">
			    	<div class="pic">
			    		<%= attachment_image_tag f, :cherry_image, format: "jpeg", fallback: "/images/no_image.jpg", size: "250x150" %>
			    		<p class="admin_cherry_name my-3"><%= f.cherry_name %></p>
			    	</div>
		    	</div>
		    	<div class="col-7 col-md-8 mt-5">
			    	<div class="breed-content">
			    		<p><%= f.content %></p>
			    	</div>
		    			<div class="row">
		    				<div class="col-12 col-md-3">
		    					<div style="height: 40px; width: 150px">
		    						<p>大きさ : <%= f.size %></p><hr>
		    					</div>
		    				</div>
		    				<div class="col-12 col-md-3">
		    					<div style="height: 40px; width: 150px">
		    						<p>甘味 : <%= f.taste %></p><hr>
		    					</div>
		    				</div>
		    				<div class="col-12 col-md-3">
		    					<div style="height: 40px; width: 150px">
		    						<p>酸味 : <%= f.sour %></p><hr>
		    					</div>
		    				</div>
		    				<div class="col-12 col-md-2">
		    					<div style="height: 40px; width: 100px">
		    						<%= link_to "Cherry詳細", show_admin_cherry_path(f.id), class: 'btn btn-info' if user_signed_in? %>
		    					</div>
		    				</div>
		    				<div class="col-12 col-md-1">
		    					<div style="height: 40px; width: 100px">
		    						<%= link_to "削除", destroy_admin_cherry_path(f.id), method: :delete, class:"btn btn-danger",data: {confirm:"削除しますか？"} %>
		    					</div>
		    				</div>
		    			</div>
		    	</div>
		    </div>
		  <% end %>
			  <div id="back">
	          </div>
		  <%= paginate @cherries, class: "paginate" %>
		</div>
	</div>
</div>

