            <!-- cherry情報 -->
    <div class="container">
            <h3 class="my-5">Cherry</h3>
                <div class="row">
                    <div class="col-4">
                    <%= form_for @cherry, url: new_farm_path do |f| %>
                        <p class="text-center">取り扱い品種選択</p>
                    </div>
                    <div class="col-8">
                        <%= f.text_field :cherry_name, :size=>"26" %><%= f.text_field :cherry_name, :size=>"26" %><%= f.text_field :cherry_name, :size=>"26" %>
                        <hr>
                        <%= f.submit '更新' %>
                        <%= f.submit '削除' %>
                    </div>
                    <% end %>
                </div>
    </div>