<div class="container">
    <div class="row">
    <div class="col-12">
      <h3 class="text-center my-5">Breed</h3>
      <% @cherries.each do |f| %>
        <div class="row">
          <div class="col-6 col-md-4 mt-5">
            <div class="pic">
              <%= attachment_image_tag f, :cherry_image, format: "jpeg", fallback: "no_image.jpg", size: "250x150" %>
              <div class="d-flex justify-content-center">
                <p class="breed-name my-3"><%= f.cherry_name %></p>
              </div>
            </div>
          </div>
          <div class="col-6 col-md-8 mt-5">
            <div class="breed-content">
              <p><%= f.content %></p>
            </div>
              <div class="row">
                <div class="col-12 col-md-4">
                  <div style="height: 40px;">
                    <p>大きさ : <%= f.size %></p><hr>
                  </div>
                </div>
                <div class="col-12 col-md-4">
                  <div style="height: 40px;">
                    <p>甘味 : <%= f.taste %></p><hr>
                  </div>
                </div>
                <div class="col-12 col-md-4">
                  <div style="height: 40px;">
                    <p>酸味 : <%= f.sour %></p><hr>
                  </div>
                </div>
              </div>
          </div>
        </div>
      <% end %>
      <div id="back">
      </div>
      <%= paginate @cherries, class: "paginate" %>
    </div>
  </div>
</div>
