<div class="container">
  	<div class="row">
		<div class="col-12">
		  <h1 class="text-center my-5"><%= @farm.farm_name %></h1>
		    <div class="row">
		    	<div class="col-4 mt-5">
		    		 <%= attachment_image_tag @farm, :farm_image, format: "jpeg", fallback: "no_image.jpg, size:200×200" %>
		    	</div>
		    	<div class="col-8">
		    			<p >住所 : <%= @farm.user.address %></p>
		    			<hr>
		    			<p class= "mt-5">電話番号 : <%= @farm.user.phone_number %></p>
		    			<hr>
		    			<p class= "mt-5">営業期間 : <%= @farm.business_day %></p>
		    			<hr>
		    			<p class= "mt-5">入園料金 : <%= @farm.price %>円<p>
		    			<hr>
		    			<p class= "mt-5">ホームページのリンク : </p>
		    			<hr>
		    	</div>
		    </div>

		    <div class="row">
		    	<div class="col-3">
		    		<div style="height: 40px; width: 250px">
		    			<p class= "mt-5">主な取扱品種 : <%= @cherry[0].cherry_name %></p><hr>
		    		</div>
		    	</div>
		    	<div class="col-3">
		    		<div style="height: 40px; width: 250px">
		    			<p class= "mt-5">大きさ : <%= @cherry[0].size %></p><hr>
		    		</div>
		    	</div>
		    	<div class="col-3">
		    		<div style="height: 40px; width: 250px">
		    			<!-- cherryモデルに関数を作成、数値を文字列で表示させるようにしている -->
		    			<p class= "mt-5">甘味 : <%=  @cherry[0].cherry_taste_convert(@cherry[0].taste) %></p><hr>
		    		</div>
		    	</div>
		    	<div class="col-3">
		    		<div style="height: 40px; width: 250px">
		    			<p class= "mt-5">酸味 : <%= @cherry[0].cherry_taste_convert(@cherry[0].sour) %></p><hr>
		    		</div>
		    	</div>
		    </div>


		    <div class="row">
		    	<div class="col-3">
		    		<div style="height: 40px; width: 250px">
		    			<p class= "mt-5">主な取扱品種 : <%= @cherry[1].cherry_name %></p><hr>
		    		</div>
		    	</div>
		    	<div class="col-3">
		    		<div style="height: 40px; width: 250px">
		    			<p class= "mt-5">大きさ : <%= @cherry[1].size %></p><hr>
		    		</div>
		    	</div>
		    	<div class="col-3">
		    		<div style="height: 40px; width: 250px">
		    			<p class= "mt-5">甘味 : <%= @cherry[1].cherry_taste_convert(@cherry[1].taste)%></p><hr>
		    		</div>
		    	</div>
		    	<div class="col-3">
		    		<div style="height: 40px; width: 250px">
		    			<p class= "mt-5">酸味 : <%= @cherry[1].cherry_taste_convert(@cherry[1].sour) %></p><hr>
		    		</div>
		    	</div>
		    </div>

		    <div class="row">
		    	<div class="col-12">
		    		<p class= "text-center my-5">当園の特徴</p>
		    		<p class= "mt-5"><%= @farm.feature %>
		    		<hr class= "mt-5">
		    	</div>
		    </div>
		    <div class="row">
		    	<div class="col-12">
		    		<p class= "text-center my-5">MAP</p>
		    		<img src="assets/cherries1.jpg" height="400" width="700" class="rounded mx-auto d-block mb-5">
		    	</div>
		    </div>
	</div>
</div>