<div class="container">
	      <h3 class="text-center my-5">Farms</h3>
	      <% @farms.each do |farm| %>
	      <div class="row">
	        <div class="col-3">
	            <%= attachment_image_tag farm, :farm_image, format: "jpeg", fallback: "no_image.jpg", size: "250x150" %>
	        </div>
	       	<div class="col-4">
	            <div style="height: 40px; width: 300px">
	              <p><%= farm.farm_name %></p>
	            </div>
	            <div style="height: 40px; width: 300px">
	              <p>住所 : <%= farm.user.address %></p>
	            </div>
	            <div style="height: 40px; width: 300px">
	              <p>営業期間 : <%= farm.business_day %></p>
	            </div>
	        </div>
	        <div class="col-2">
	            <div style="height: 40px; width: 200px">
	            <%= link_to "Farm編集", edit_admin_farm_path(farm.id), class:"btn btn-success" %>
	            </div>
	            <div style="height: 40px; width: 200px">
	              <p>入園料 : <%= farm.price %>円</p>
	            </div>
	            <!-- ファームに紐づくcherryを持ってくるので上記から続いているeach文のfarmと.cherriesの以下の書き方でいける -->
	            <!-- farmから見てcherryは 1:N なので　farm.cherries でeach文を回す -->
	            <% farm.cherries.each do |cherry| %>
	              <div style="height: 40px; width: 200px">
	                <p>品種 : <%= cherry.cherry_name %></p>
	              </div>
	            <% end %>
	        </div>
	        <div class="col-2">
	        	<%#= link_to "cherry編集", edit_admin_cherry_path(farm.cherry.id), class:"btn btn-success" %>
	        </div>
	        <div class="col-1">
	        	<%= link_to "削除", destroy_admin_farm_path(farm.id), method: :delete, class:"btn btn-danger",data: {confirm:"削除しますか？"} %>
	        </div>
	      </div>
	      <hr>
	      <% end %>

	      <div class="pagination">
	                <p>prev</p>
	                <p>1</p>
	                <p>2</p>
	                <p>3</p>
	                <p>4</p>
	                <p>5</p>
	                <p>next</p>
	       </div>
</div>
