
<h3 class="text-center my-5">My Farm</h3>
  <% @farm.each do |f| %>
    <div class="container">
      <div class="row">
          <div class="my-farm-image col-12 col-md-3">
            <%= attachment_image_tag f, :farm_image, format: "jpeg", fallback: "no_image.jpg", size: "150x160" %>
          </div>
          <div class="col-6 col-md-4">
            <div style="height: 40px; width: 300px">
              <p><%= f.farm_name %></p>
            </div>
            <div style="height: 40px; width: 300px">
              <p>住所 : <%= f.user.address %></p>
            </div>
            <div style="height: 40px; width: 300px">
              <p>営業期間 : <%= f.business_day %></p>
            </div>
          </div>
        <div class="col-6 col-md-2">
            <div style="height: 40px; width: 150px">
              <p>料金 : <%= f.price %>円</p>
            </div>
            <!-- ファームに紐づくcherryを持ってくるので変数を定義しなくても以下の書き方でいける -->
            <!-- farmから見てcherryは 1:N なので　f.cherries でeach文を回す -->
            <% f.cherries.each do |cherry| %>
              <div style="height: 40px; width: 150px">
                <p>品種 : <%= cherry.cherry_name %></p>
              </div>
            <% end %>
        </div>
        <div class="col-12 col-md-2">
          <div class="mb-3">
            <%= link_to "詳細情報", farm_path(f.id), class: 'btn btn-info'%>
          </div>
          <div class="mb-3">
            <%= link_to "Cherry追加", cherries_new_path(f.id), method: :get, class: 'btn btn-info'%>
          </div>
          <div class ="mb-3">
            <%= link_to "削除", farm_path(f.id), method: :delete, class:"btn btn-danger",data: {confirm:"削除しますか？"} %>
          </div>
        </div>
      </div>
    </div>
    <hr>
  <% end %>