<div class="container">
	<div class="row">
	  	<div class="col-11">
			<h1 class="text-center my-4">farm新規登録</h1>
		</div>
		<div class="col-1">
				<button type="button" class="btn btn-warning">戻る</button>
		</div>
	 </div>

	<!-- Farm編集 -->
	<div class="row">
		<div class="col-12">
			<h3 class="my-5">Farm</h3>
				<div class="row">
					<div class="col-4">
			<%= form_for @farm, url: farms_path do |f| %>
						<p class="text-center">農園名</p>
					</div>
					<div class="col-8">
						<%= f.text_field :farm_name, :size=>"80" %>
						<hr>
					</div>
				</div>

				<div class="row">
					<div class="col-4">
						<p class="text-center">営業期間</p>
					</div>
					<div class="col-8">
						<%= f.text_field :business_day, :size=>"80" %>
						<hr>
					</div>
				</div>

				<div class="row">
					<div class="col-4">
						<p class="text-center">入園料金</p>
					</div>
					<div class="col-8">
						<%= f.text_field :price, :size=>"80" %>
						<hr>
					</div>
				</div>

				<div class="row">
					<div class="col-4">
						<p class="text-center">地域</p>
					</div>
					<div class="col-8">
						<%= f.text_field :area, :size=>"80" %>
						<hr>
					</div>
				</div>

				<div class="row">
					<div class="col-4">
						<p class="text-center">イメージ画像選択</p>
					</div>
					<div class="col-8">
						<%= f.attachment_field :farm_image, :size=>"80" %>
						<hr>
					</div>
				</div>


				<div class="row">
					<div class="col-4">
						<p class="text-center">農園の特徴</p>
					</div>
					<div class="col-8">
						<%= f.text_area :feature, :size=>"80×20" %>
						<hr>
					</div>
				</div>

				<div class="row">
					<div class="col-4">
						<p class="text-center">マップ画像選択</p>
					</div>
					<div class="col-8">
						<%= f.attachment_field :map, :size=>"80" %>
						<hr>
						<%= f.submit 'Farm情報更新' %>
					</div>
				</div>
			<% end %>

		</div>
	</div>
</div>
