			<!-- User編集 -->
	<div class="container">
		<div class = "row">
			<div class="col-12 col-md-12">
				<h3 class="my-5">User</h3>
				<%= form_for @user, url: user_path(@user.id) do |f| %>
					<div class="row">
						<div class="col-4 col-md-4">
							<p class="text-center">名前</p>
						</div>
						<div class="col-8 col-md-8">
							<%= f.text_field :name_kanji %>
							<hr>
						</div>
					</div>

					<div class="row">
						<div class="col-4 col-md-4">
							<p class="text-center">名前（カナ）</p>
						</div>
						<div class="col-8 col-md-8">
							<%= f.text_field :name_kana %>
							<hr>
						</div>
					</div>

					<div class="row">
						<div class="col-4 col-md-4">
							<p class="text-center">郵便番号</p>
						</div>
						<div class="col-8 col-md-8">
							<%= f.text_field :post_code %>
							<hr>
						</div>
					</div>

					<div class="row">
						<div class="col-4 col-md-4">
							<p class="text-center">農園住所</p>
						</div>
						<div class="col-8 col-md-8">
							<%= f.text_field :address %>
							<hr>
						</div>
					</div>

					<div class="row">
						<div class="col-4 col-md-4">
							<p class="text-center">電話番号</p>
						</div>
						<div class="col-8 col-md-8">
							<%= f.text_field :phone_number %>
							<hr>
							<%= f.submit '情報更新', class: 'btn btn-info' %>
						</div>
					</div>
				<% end %>
			</div>
		</div>
	</div>