<!DOCTYPE html>
<html>
  <head>
    <title>Encherri</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="headline">
        <h1>encheri</h1>
      </div>

      <nav>
        <ul class="nav-list">
          <!-- 管理人がログインしているかのチェック -->
          <% if user_signed_in? %>

              <!-- サイト管理人がログインした場合 -->
              <% if current_user.admin_flag == 1 %>
                  <li class="nav-list-item">
                    <%= link_to 'farm_path', admin_farms, class: "header-title nav-item nav-link text-dark" %>
                  </li>
                  <li class="nav-list-item">
                    <%= link_to 'breed', cherries_path, class: "header-title nav-item nav-link text-dark" %>
                  </li>
                  <li class="nav-list-item">
                    <%= link_to 'area', area_path, class: "header-title nav-item nav-link text-dark" %>
                  </li>
                  <li class="nav-list-item">
                    <%= link_to 'about', about_path, class: "header-title nav-item nav-link text-dark" %>
                  </li>
                  <li class="nav-list-item">
                    <%= link_to 'farm edit', edit_admin_farm_path, class: "header-title nav-item nav-link text-dark" %>
                  </li>
                  <li class="nav-list-item">
                    <%= link_to 'breed new', new_cherry_path, class: "header-title nav-item nav-link text-dark" %>
                  </li>
                  <li class="nav-list-item">
                    <%= link_to 'breed edit', edit_cherry_path, class: "header-title nav-item nav-link text-dark" %>
                  </li>
                  <li class="nav-list-item">
                    <%= link_to 'log out', destroy_user_session_path, method: :delete, class: "header-title nav-item nav-link text-dark" %>
                  </li>
                  <li class="nav-list-item">
                    <input type="search" name="search" placeholder="農園名を入力">
                  <input type="submit" name="submit" value="search">
                  </li>

              <!-- 農場管理人がログインした場合 -->
              <% else %>
                  <li class="nav-list-item">
                    <%= link_to 'farm', farms_path, class: "header-title nav-item nav-link text-dark" %>
                  </li>
                  <li class="nav-list-item">
                    <%= link_to 'breed', cherries_path, class: "header-title nav-item nav-link text-dark" %>
                  </li>
                  <li class="nav-list-item">
                    <%= link_to 'area', area_path, class: "header-title nav-item nav-link text-dark" %>
                  </li>
                  <li class="nav-list-item">
                    <%= link_to 'about', about_path, class: "header-title nav-item nav-link text-dark" %>
                  </li>
                  <li class="nav-list-item">
                    <%= link_to 'new farm', new_farm_path, class: "header-title nav-item nav-link text-dark" %>
                  </li>
                  <li class="nav-list-item">
                    <%= link_to 'log out', destroy_user_session_path, method: :delete, class: "header-title nav-item nav-link text-dark" %>
                  </li>
                  <li class="nav-list-item">
                    <%= link_to 'sign out', user_registration_path, method: :delete, class: "header-title nav-item nav-link text-dark" %>
                  </li>
                  <li class="nav-list-item">
                    <input type="search" name="search" placeholder="農園名を入力">
                  <input type="submit" name="submit" value="search">
                  </li>

              <% end %>

          <!-- ログインしていない場合-->
          <% else %>
              <li class="nav-list-item">
            <%= link_to 'farm', farms_path, class: "header-title nav-item nav-link text-dark" %>
          </li>
          <li class="nav-list-item">
            <%= link_to 'breed', cherries_path, class: "header-title nav-item nav-link text-dark" %>
          </li>
          <li class="nav-list-item">
            <%= link_to 'area', area_path, class: "header-title nav-item nav-link text-dark" %>
          </li>
          <li class="nav-list-item">
            <%= link_to 'about', about_path, class: "header-title nav-item nav-link text-dark" %>
          </li>
          <li class="nav-list-item">
            <%= link_to 'log in', new_user_session_path, class: "header-title nav-item nav-link text-dark" %>
          </li>
          <li class="nav-list-item">
            <%= link_to 'sign up', new_user_registration_path, class: "header-title nav-item nav-link text-dark" %>
          </li>
          <li class="nav-list-item">
            <input type="search" name="search" placeholder="農園名を入力">
          <input type="submit" name="submit" value="search">
          </li>
          <% end %>
        </ul>
      </nav>
    </header>
    <hr>


    <%= yield %>
    <footer>
        <p class="footer-title">encheri</p>
    </footer>
  </body>
</html>
