<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Encherri</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- drawer.jsの導入 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/drawer/3.2.2/css/drawer.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/iScroll/5.2.0/iscroll.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/drawer/3.2.2/js/drawer.min.js"></script>
  </head>

  <body>
    <!-- ハンバーガーメニューの記述class -->
    <header class="drawer drawer--right">
      <div class="headline">
        <h1>encheri</h1>
      </div>
      <%= search_form_for @search do |f| %>
          <%= f.label :farm_name_cont, "農園名" %>
          <%= f.search_field :farm_name_cont %>
          <%= f.submit "検索", class: "search-btn mt-3" %>
      <% end %>
      <!-- ハンバーガーメニューのアイコン記述 -->
      <button type = "button" class="drawer-toggle drawer-hamburger">
        <span class="sr-only">toggle navigation</span>
        <span class="drawer-hamburger-icon"></span>
      </button>
      <!-- 以下２行ハンバーガーメニューの記述 -->
      <nav class="drawer-nav" style="background-color: rgba(255,255,255,0.8);">
        <ul class="drawer-manu">
          <!-- 管理人がログインしているかのチェック -->
          <% if user_signed_in? %>

              <!-- サイト管理人がログインした場合 -->
              <% if current_user.admin_flag == 1 %>
                  <li class="nav-list-item">
                    <%= link_to 'farm', farms_path, class: "header-title nav-item nav-link text-dark" %>
                  </li>
                  <li class="nav-list-item">
                    <%= link_to 'breed', cherries_path, class: "header-title nav-item nav-link text-dark" %>
                  </li>
                  <li class="nav-list-item">
                    <%= link_to 'area', area_path, class: "header-title nav-item nav-link text-dark" %>
                  </li>
                  <li class="nav-list-item">
                    <%= link_to 'about', about_path, class: "header-title nav-item nav-link text-dark" %>
                  </li>
                  <li class="nav-list-item">
                    <%= link_to '農園一覧', admin_farms_path, class: "header-title nav-item nav-link text-dark" %>
                  </li>
                  <li class="nav-list-item">
                    <%= link_to '品種登録', admin_cherries_new_path, class: "header-title nav-item nav-link text-dark" %>
                  </li>
                  <li class="nav-list-item">
                    <%= link_to '品種リスト', admin_cherries_path, class: "header-title nav-item nav-link text-dark" %>
                  </li>
                  <li class="nav-list-item">
                    <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "header-title nav-item nav-link text-dark" %>
                  </li>

              <!-- 農場管理人がログインした場合 -->
              <% else %>
                  <li class="nav-list-item">
                    <%= link_to 'farm', farms_path, class: "header-title nav-item nav-link text-dark" %>
                  </li>
                  <li class="nav-list-item">
                    <%= link_to 'breed', cherries_path, class: "header-title nav-item nav-link text-dark" %>
                  </li>
                  <li class="nav-list-item">
                    <%= link_to 'area', area_path, class: "header-title nav-item nav-link text-dark" %>
                  </li>
                  <li class="nav-list-item">
                    <%= link_to 'about', about_path, class: "header-title nav-item nav-link text-dark" %>
                  </li>
                  <li class="nav-list-item">
                    <%= link_to '個人情報編集', edit_user_path(current_user.id), class: "header-title nav-item nav-link text-dark" %>
                  </li>
                  <li class="nav-list-item">
                    <%= link_to '新規農園登録', new_farm_path, class: "header-title nav-item nav-link text-dark" %>
                  </li>
                  <li class="nav-list-item">
                    <%= link_to 'My農園', my_farm_path, class: "header-title nav-item nav-link text-dark" %>
                  </li>
                  <li class="nav-list-item">
                    <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "header-title nav-item nav-link text-dark" %>
                  </li>
                  <li class="nav-list-item">
                    <%= link_to '退会', user_registration_path, method: :delete, class: "header-title nav-item nav-link text-dark" %>
                  </li>

              <% end %>

          <!-- ログインしていない場合-->
          <% else %>
              <li class="nav-list-item">
            <%= link_to 'farm', farms_path, class: "header-title nav-item nav-link text-dark" %>
          </li>
          <li class="nav-list-item">
            <%= link_to 'breed', cherries_path, class: "header-title nav-item nav-link text-dark" %>
          </li>
          <li class="nav-list-item">
            <%= link_to 'area', area_path, class: "header-title nav-item nav-link text-dark" %>
          </li>
          <li class="nav-list-item">
            <%= link_to 'about', about_path, class: "header-title nav-item nav-link text-dark" %>
          </li>
          <li class="nav-list-item">
            <%= link_to 'log in', new_user_session_path, class: "header-title nav-item nav-link text-dark" %>
          </li>
          <li class="nav-list-item">
            <%= link_to 'sign up', new_user_registration_path, class: "header-title nav-item nav-link text-dark" %>
          </li>
          <% end %>
        </ul>
      </nav>
    </header>
    <hr>


    <%= yield %>
    <footer>
        <p class="footer-title">encheri</p>
    </footer>
  </body>
</html>

